matplotlib==3.10.1
Flask==3.0.2
WTForms==3.2.1
Werkzeug==3.0.1
python-dotenv==1.0.1
bcrypt==4.3.0
SQLAlchemy==2.0.39
cryptography==44.0.2
opencv-python==4.11.0.86
pytesseract==0.3.13
flask-wtf==1.2.2
flask-sqlalchemy==3.1.1
pymysql==1.1.1
